table {
    border-collapse: collapse;
 }

.full_column {
    width: 500px;
}


h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

th, td {
    padding: 0.25rem 0.5rem;
    vertical-align: top;
}

th {
    background-color: #F1F1F1;
    text-align: left;
}

.vertical th {
    width: 10em;
}

tr {
    border: 1px #EAEAEA solid;
}

.no-qc-performed .metadata-value {
    font-style: italic;
}

.bad-data .metadata-status {
    background-image: url("/qc_tool/static/images/warning.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    width: 3em;
}

.validation-log-body {
    border: 1px solid black;
    padding: 1em;
}

.validation-log-body ul {
    font-family: courier, monospace;
}

input[type='checkbox'] {
    display: none;
}

.collapsible-container {
    margin: 1em;
    border: 1px solid black;
    border-radius: 4px;
}

.toggle-label {
    background: #F1F1F1;
    border-radius: 4px;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    //text-align: center;
    display: block;
    cursor: pointer;
    transition: border-radius .25s ease-in-out;
}

.errors {
	background: #FFD0D0
}

.collapsible-content {
    font-family: courier, monospace;
    max-height: 0px;
    overflow: scroll;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .toggle-label {
    border-radius: 4px 4px 0 0;
}


.toggle:checked + .toggle-label + .collapsible-content {
    max-height: 500px;
}

.collapsible-content .content-inner {
    padding: 1em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}