table {
    border-collapse: collapse;
 }

.full_column {
    width: 500px;
}


h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

th, td {
    padding: 0.25rem 0.5rem;
    vertical-align: top;
}

th {
    background-color: #F1F1F1;
    text-align: left;
}

.vertical th {
    width: 10em;
}

tr {
    border: 1px #EAEAEA solid;
}

.no-qc-performed .metadata-value {
    font-style: italic;
}

.bad-data .metadata-status {
    background-image: url("/qc_tool/static/images/warning.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    width: 3em;
}

